--extra-index-url https://pypi.nvidia.com tensorrt_libs
chex
flax
optax
numpy
ml-collections
protobuf<=3.20
jax
# jax[cuda12_pip] -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# -e .

# Extras for collabs
jupyter
ipykernel
ipywidgets
matplotlib
tensorflow_datasets
tensorflow
